.bg1, .bg2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    list-style: none;
    z-index: -1;
    opacity: 1;
    transition: opacity 3s;
}
.bg2 {
    opacity: 0;
}
.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    &-con {
        background: rgba(255, 255, 255, 0.3);
        padding: 20px 50px;
        border-radius: 5px;
        width: 460px;
        &-header {
            font-size: 24px;
            font-weight: 700;
            color: #000;
            text-align: center;
            padding: 30px 0;
        }
        .form-con {
            padding: 10px 0 0;
            .ivu-input,
            .ivu-btn {
                font-size: 16px;
                height: 44px;
            }
            .ivu-btn {
                font-weight: 600;
                color: 18px;
            }
            .ivu-input {
                color: red;
                background: none;
                box-shadow: 0 0 0 1000px white inset;
                -webkit-text-fill-color: #333;
                &::-webkit-input-placeholder,
                &:-moz-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder {
                    color: red !important;
                }
            }
        }
        .login-tip {
            font-size: 14px;
            text-align: center;
            color: #242323;
        }
    }
}
